@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("fonts/Booter\ -\ Zero\ Zero.ttf") format("ttf"),
        url("fonts/Booter\ -\ Zero\ One.ttf") format("tff");
        /*if browser cannot find first source it will go to second*/
        font-weight: normal;
        font-style: normal;
}
*{
    box-sizing: border-box;
    /*what this does is size of the elements determined by the padding and margin 
    as well as the actual size of the content....so if we had a box and we set he width to be 200 pxs and padding to be 20px
    without border box the width of that objects would be 200px wide plus 20pxs on the right for padding and 20 px on the left for padding
    making it 240px for padding. with border box though width attribute takes into account padding as well.
    so if we set an element to be 200px width our elements will be exactly 200pxs wide 
    and the padding will be inside those elements */ 
    font-family: Raleway;
    color: #ccff33;/*light gray*/
}
html, body{
    margin:0;
    padding:0;
}/*for the white space across the margins*/
.nav ul {
    margin:0;
    /*ul element have a default margin on all sides*/
    /*nav class will constraint the ul spefied and not all ul*/
}
.nav li{
    display : inline;/*same line*/
	
}
.nav a{
    /*style our links*/
    display: inline-block;
	
    padding: .5em;/*space out links  ..The rem, or root em, is the font size of the root element of the document.*/
    color: brown;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255, .3);/*.3 is transparency ..light gray*/
    /*when we hover over the elements we want to do something*/
}
.main-header{
    background-color: rgba(0,0,0,.6);/*black*/
    background-image: url("images/books.jpg");
    background-blend-mode: multiply;/*as css can only use color or image we use blend*/
    /*multiply combines these color and image*/
    /*make sure everything is in line and not zig zag*/
    background-size: cover; /*cover tells to expand as much as it can* until one of the borders is at its edge*/
    padding-bottom: 30px;
}
.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
     font-family: "Booter-Zero Zero";
     font-weight: normal;/*as h1 will be bold we dont want our text to be bold*/
     color:white;
	 padding-bottom: 30px;
}
.band-name-large{
    font-size: 4em;
    /*display: inline-block;*/ /*using this here makes a problem when the browser becomes big*/
}

.content-section{
    margin:1em; /*to distinguish from other elements*/
	
}

.container{
    max-width: 900px;
    margin: 0 auto;/*text in center*/
    padding: 0 1 .5em;
	
}
.back-img{
	margin-top:-15px;
	 background-color: rgba(0,0,0,.6);/*black*/
    background-image: url("images/books1.jpg");
    background-blend-mode: multiply;/*as css can only use color or image we use blend*/
    /*multiply combines these color and image*/
    /*make sure everything is in line and not zig zag*/
    background-size: cover; /*cover tells to expand as much as it can* until one of the borders is at its edge*/
    padding-bottom: 30px;
	height:100%;
	
}
